/* @font-face {
    font-family: "Avenir";
    src: url("/src/Avenir-Black.woff");
  } */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Avenir';
}
.parallax-layer {
    will-change: transform, opacity;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

html {
	scroll-behavior: smooth;
}

#scroll-wrapper {
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  right:0;
  display:table;

}

#scroll-wrapper-inner {
  width:100px !important;
  height:20px   !important;
  display:table-cell;
  vertical-align:bottom;
  padding-bottom: 120px;

}

#scroll-down {
    display: block;
    position: relative;
  text-align:center;
}

#scroll-title {
    display: block;
    text-transform: uppercase;
    color: black;
  font-family: "raleway";
  font-size:14px;
  font-weight:bold;
  letter-spacing:0.4em;
   text-align:center;
   transform: rotate(90deg);
  margin-bottom: 45px;
  width: 100%;
}

#scroll-down::before {
    -webkit-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 2.9s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    background: black;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}


body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}




/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
	padding: 0.5em;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
 	background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    top:0;
    z-index: 8;
}

#header{
    width: 100vw;
}
body{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#BodyContainer{
    width: 100%;
    display: block;
    overflow-y: scroll;
    max-width: 1200px;
}

.blog-header{
    align-self: right !important;
    padding: 0.5em;
    cursor: pointer;
    z-index: 9;
    margin: 0;
    transition: all 0.15s ease-out;
    margin: 0;
    color: black !important;
    pointer-events: all !important;
    padding: 0;
    align-items: center;
    display: flex;
    opacity: 1!important;

}

.blog-header svg{
    fill:inherit!important;
    height: 65%!important;
    margin-left: 8px;
    margin-right: 4px;
    pointer-events: all!important;
}
.blog-header h{
    font-size: 130%;
    font-weight: 400;
    pointer-events: all!important;
}

.blog-header:hover{
    fill: #BD3F3C;
    color: #BD3F3C!important;
}

.home-menu .pure-menu-list{
    vertical-align: middle;
}
.home-menu .pure-menu-item{
    display: inline-block;
    vertical-align: middle;
}
.Heading-Logo{
	align-self: left !important;
	margin-top: -1.5em;
	margin-bottom: -2.5em;
	margin-left: -2em;
    height: 100px;
    overflow: none;
    display:inline-block;
}
@media screen and (max-width: 600px) {
    .Heading-Logo{
        margin-top: -1em;
	    margin-bottom: -2em;
        height: 80px;
    }
}
    



.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
} 


.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}
.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:7;
    height: 100%;
    position: absolute;
    top:0;
    width: 100%;
}

.flex-center .pure-menu-list{
	border-color: aqua;
  	flex-grow: 1;
	text-align: center;
}






.home-menu a {
    color: #000000;
	opacity: 70%;
}

.home-menu .pure-menu-selected a {
    color: 000;
	font-weight: 550;
	opacity: 100%;
}


.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
	opacity: 100%;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.Sponsor_wrapper{
	/* position: fixed; */
	/* top: 20em; */
	text-align: left;

	display: flex;

	flex-direction: column;
	font-size: 1.5em;
	padding-top: 40px;
    padding-left: 50px;
    width: 16em;

    /* border-radius: 20px;
    background-color: rgba(178, 178, 178, 0.2);  
    -webkit-backdrop-filter: blur(.8px);
    box-shadow: 0px 8px 13px 8px rgb(0 0 0 / 12%);
    backdrop-filter: blur(3px); */
    z-index: 90;
	
}

.Sponsor_wrapper .inner_wrap{
    justify-content: center;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 1px;

}
.FundingText{

    margin-top: -5px;
    margin-left: -5px;

	/* position: absolute; */
	color: #3C3C3C;
	font-weight: 410;
    font-size: 80%;
}

.Sponsor{
	width: 80%;
	padding: 10px;
    align-self: center;

}

.Sponsor.Fifteenseventeen{
    border-color:black;
    border-width:0px;
    border-style: solid;
    align-self: center;
}

.Sponsor.George{
    width: 100%;
    align-self: center;
}
.Sponsor.Menta{
    grid-column-end: span 2;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
}
.culled_text{
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
	font-size: 1.2em;
    font-weight: 350;
}



/*Mobile Only Variant*/
@media(max-width:48em){
    .Sponsor_wrapper{
        position: absolute;
        text-align: center;
        padding: 8px;
        left: 2.5%;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        font-size: 1.5em;
        top:100vh;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        background-color: rgba(240, 240, 240, 0.4);  
        -webkit-backdrop-filter: blur(2px);
        box-shadow: 0px 4px 8px 4px rgb(0 0 0 / 10%);
        backdrop-filter: blur(3px);
        z-index: 90;
        width: 95%;
    }


    
    .Sponsor_wrapper .inner_wrap{
        justify-content: center;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        width: 100%;
        gap: 1px;
    
    }
    .FundingText{
        left: initial;
        align-self: center;
        color: #3C3C3C;
        font-weight: 400;
        font-size: 65%;
    }
    
    .Sponsor{

        width: 95%;
        padding: 5px;
        align-self: center;
    
    }
    
    .Sponsor.Fifteenseventeen{
        border-color:black;
        border-width:0px;
        border-style: solid;
        align-self: center;
    }
    
    .Sponsor.George{
        width: 100%;
        align-self: center;
    }
    .Sponsor.Menta{
        grid-column-end: span 2;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5px;
    }

}

@media screen and (max-width: 800px) {
    .culled_text{
        font-size: 1em;
        padding-right: 5%;
	    padding-left: 5%;
    }
    .extended_underline{
        font-size: large;
    }
    #Team-Bios h{
        font-size: 1.5em !important;

    }
    #Team-Bios a{
        font-size: .7em !important;

    }
}
    




.textbackdrop{
    background-color: #f4f4f4a3;
    color:rgb(33, 33, 33);
    border-radius: 20px;
    box-shadow: 0px 5px 7px 5px rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    
}

.splash-screen{
    padding: 4em;
    padding-top: 5em;
    height: 100%;
    overflow: visible;

}
.desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
    
    padding-top: 10px;
    /* flex-; */
    overflow:visible;

}
.left-fill{
    /* position: absolute; */
    width: 50%;
    /* left:0; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;

}
.content-wrapper{
    padding-bottom: 0;
    margin-bottom: 0;
    scroll-behavior: smooth;

}

.right-fill{
    /* position: absolute; */
    width: 50%;
    /* right:0; */
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow:visible;
}

.Splash-Brain{
    /* position: absolute; */
    margin-top: -50%;
    height:20%;
    /* width: 75%; */
    width: 95%;

    display: block;
   
    margin-bottom: -100px;
    overflow: visible;
}
.extended_underline{
	border-bottom-style: solid;
	border-bottom-color: #848484 !important;
	border-bottom-width: 1px;
	padding-bottom: .1em;
	margin-left: 30%!important;
	margin-right: 30%!important;
	
}
/* mobile devices */

@media (max-width: 700px) { 
	
    .Splash-Brain{
        margin-top: 10px;

        width: 95%;
        }
    
    .extended_underline{
        border-bottom-style: solid;
        border-bottom-color: #848484 !important;
        border-bottom-width: 1px;
        padding-bottom: .1em;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }

}
@media (max-width: 1400px) { 
	.Splash-Brain{

    width: 95%;
    }

  
}

.splash-wrap{
    /* display: block; */
    top: 60%;
    position: static;
    padding: 0;
    /* margin: 0 auto; */
    
}


.Splash-Brain-Gradiant-Mask{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(255, 255, 255, .2) 70vh, rgba(255, 255, 255, 1) 80vh);
    position: absolute;
    mix-blend-mode: saturation;
    right:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.Splash-Brain-Gradiant-Mask-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(255, 255, 255, .2) 90vh, rgba(255, 255, 255, .8) 140vh);
    position: absolute;
    right:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.splash-head {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    margin-bottom: 10px;
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}


.mobile-brain{
    height: 100vh;
    /* width: 100%; */
    overflow: hidden;
    /* margin-top: -50%; */
    /* height:20%; */
    /* width: 75%; */
    width: 100%;
    position: a;

    /* display: block; */
   
    /* margin-bottom: -100px; */
}
.mobile{
    padding-top: 30%;
    margin-top: -40px;
    
}

.mobile .splash-head{
    text-align: center;
    display: block;
    padding-top: 50px;
}
.mobile .splash-subhead{
    text-align: center;
 
    color: #111;
}
#scroll-wrapper-inner {
    padding-bottom: 70px;
}

@media(max-width:38em){
    #scroll-wrapper-inner {
        padding-bottom: 100px !important;
    }
    
}

.brainstem-cut{
    position: sticky;
    top: 0;
    width: inherit;
    height: 100%;
    z-index: -10;
    overflow:visible;

}
.first-content{
    margin-top: 120vh;
}



@media(max-height:70em){
    .mobile .splash-head{
        padding-top: 15px;
        font-size: 200%!important;
    }

#scroll-wrapper-inner {
    width:40px !important;
    height:10px   !important;
    display:table-cell;
    vertical-align:bottom;  
  }
  

  #scroll-down::before {
    height: 50px;

}
  
  #scroll-title {
      display: block;
      text-transform: uppercase;
      color: black;
    font-family: "raleway";
    font-size:12px;
    font-weight:bold;
    letter-spacing:0.4em;
     text-align:center;
     transform: rotate(90deg);
    margin-bottom: 45px;
    width: 100%;
  }
}

/* This is the main heading that appears on the blue section */


/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: relative;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    /* overflow-y: scroll; */
    top:0;
    left:0;
    bottom:0;
    right:0;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
    
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }




/* HACKER HOUSE STYLE  */



/* #Hackerhouse .textbackdrop{
    width: 100vw;
    height: 100vh;
    background-color: #000;
} */
#Hackerhouse{

    height: 110vh;
}
.cursor_blinking{
    color: #fff;
    font-size: 30px;
}

#Hackerhouse_inner a{

    color: rgba(255, 255, 255, 0.485);

}
#Terminal_log{
    color: rgba(255, 255, 255, 0.9)!important;

}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




.brick-house {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);;
    grid-template-columns: repeat(10, 1fr);
  
  }

.brick-house-outer{
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

#brick-porch{
    position:relative;
    top:-36vw !important;
    width: 87vw  !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -36vw;
  }


.left-just-hh{
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

@media(min-width:70em){
	.brick-house-outer{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .brick-house-fade {
        background-image: linear-gradient(90deg, #F9F8FA 0%,rgba(255,255,255, 0) 10%,rgba(255,255,255, 0) 90% #F9F8FA 100%);
      }

      #brick-porch{

        width: 50vw !important;
        top:-20.5vw!important;
        margin-bottom: -20.5vw;

      }
    
}
/* mobile bricks */
@media(max-width:48em){

    .left-just-hh{
        text-align: justify;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    
    }

    .block span{
        font-weight:450!important;
        font-size: 75%!important;
        letter-spacing:0 !important;
      }


      .brick-house {

        grid-template-rows: repeat(9, 1fr);;
        grid-template-columns: repeat(8, minmax(0, 1fr));
      
      }
      .block:nth-child(9n-9){
        grid-column-end: span 1;
        /* background-color: black; */
      }
      .block:nth-child(9n+5){
        grid-column-end: span 1;
        /* background-color: orange; */
      }
      .desktop{
        display: none!important;
      }

}

@media(min-width:48em){
    .block:nth-child(11n-5){
        grid-column-end: span 1;
    }
    .block:nth-child(11n){
    grid-column-end: span 1;
    }

    .block:nth-child(39){
        display: none;
    }
    .block:nth-child(40){
        display: none;
    }
    .mobile{
        display: none!important;
    }
}

.brick-house-fade {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, #F9F8FA 0%,#F9F8FA 5%,rgba(255,255,255, 0) 20%,rgba(255,255,255, 0) 80% ,#F9F8FA 95%,#F9F8FA 100%);
    width: 100%;
    height: 100%;
  }
  
  .block {
    height: 95%;
    width: 98%;
    border: 1.5px solid black;
    transition: all 0.2s ease-out;
    grid-column-end: span 2;
    text-align: center;
    display: table;
    pointer-events: all !important;

  }
  
  .block:hover {
    transition: all 0.2s ease-in;
    border: 2.5px solid black;
    border-radius: 1em;

  }

  .block span{
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
    font-size: 1.2em;
    color: #000;
    letter-spacing: .25rem;

  }

  #brick-door{
    position: absolute !important;
    top: 26px;
    width: 120%;
    right: -30px; 

    z-index: 10;

  }

  
  .bottom-block {
    grid-area: big-bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }






  

 

/* #Team .textbackdrop{
    padding-left: 0!important;
    padding-right: 0;
} */
#Team-Bios{
    display: grid;
    width: 100%;
    max-width: 900px; /* Adjust the max-width value as needed */
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
    padding-bottom: 40px;    
}

@media(min-width:50em){
    #Team-Bios{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

#Team-Bios .contented{
    border: 0px solid black;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Team-Bios .headShot{

    grid-column-end: span 1;
    height: 30vh;
    align-self: center;
    margin: auto;
    border-radius: 7px;
}

#Team-Bios span{
    grid-column-end: span 3;
    height: 100%;
}


#Team-Bios h{
    font-size: x-large;
    display: block;
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
}
#Team-Bios a{
    font-size: medium;
    display: block;
    margin-left: 10px;
    margin-right: 10px;

}
#Team-Bios .left{
    align-items:flex-start;
    text-align: left;
    border-width: 0px 0px 0px 1px;
    margin-left: 10px;
}
#Team-Bios .right{
    border-width: 0px 1px 0px 0px;
    text-align: right;
    align-items:flex-end;
    margin-right: 10px;
}

@media(max-width:40em){
    #Team-Bios .headShot{
        height: 27vh;

        grid-column-end: span 2;
    }
    #Team-Bios span{
        grid-column-end: span 2;
    }
    #Team-Bios .left{
  
        margin-left: 1px;
    }
    #Team-Bios .right{

        margin-right: 1px;
    }
    
}




#Contact .textbackdrop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Contact .message-box{
    padding: 1em;
    vertical-align: top;
    margin: 2em;
    margin-bottom: .6em;
    width: 60%;
    height: 30vw;
    border-radius: 1em;
    resize: none;
    /* background-color: #000; */

}

#Contact .email-box{
    border-width: 1px;
    width: 20vw;
    padding: .5em;
    border-radius: .3em;
}

#Contact button{
    border-width: 1px;

    width: 7vw;
    height: 3vw;
    border-radius: .3em;
    margin: .2em;
    margin-top: .4em;
    transition: all 0.2s ease-out;
}

#Contact button:hover{
    pointer-events: all;
    cursor: pointer;
    background-color: #efefef;
}

.sending{
    opacity: .9;
}

@media(max-width:50em){
    #Contact .message-box{
        padding: 1em;
        margin: 2em;
        margin-bottom: .6em;
        width: 100%;
        height: 60vw;
        border-radius: 1em;
    }
    
    #Contact .email-box{
        border-width: 1px;
        width: auto;
        padding: .5em;
        border-radius: .3em;
    }
    
    #Contact button{
        border-width: 1px;
    
        width: 30vw;
        height: 10vw;
        border-radius: .3em;
        margin: .2em;
        margin-top: .4em;
    }
    
}

#contact-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    height: 140px;
    margin: 20px auto;
    margin-top: 30px;

}

#contact-grid a{
    margin-left: 60px;
}
#contact-grid i{
    font-size: xx-large;
    margin-left: 10px;
}
#Contact{
    padding-bottom: 0;
}
#Additional{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    display: block;
}
#Additional p{
    margin: auto, auto;
    display: block;
    margin: 0;
}

.btn{
    padding: 13px 28px;
    border: 1px;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    background-color: #c8c8c8aa;
}
.btn:hover{
    background-color: #c8c8c8ff;
    cursor: pointer;
    border-radius: 8px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration:none;
}

@media screen and (max-width: 500px) {
    #contact-grid{
    
        width: 100%;
        height: 140px;
        margin: 20px auto;
        margin-top: 30px;
    
    }
    #contact-grid span{
        padding: 5px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 0px;
    }

    #contact-grid a{
        margin-left: 40px;
    }
}

#contact-grid span{
    padding: 5px;

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px;
}
/* #contact-grid span:nth-child(1){
    border-bottom: 1px solid black;
    justify-items: center;
    grid-column-end: span 2;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-content: center;
} */
#contact-grid span:nth-child(2){
    border-bottom: 1px solid black;
}
#contact-grid span:nth-child(1){
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#contact-grid span:nth-child(3){
    border-right: 1px solid black;
}
#contact-grid span:nth-child(3){
    /* border-right: 1px solid black; */
}
/* #contact-grid span:nth-child(4){
    border-bottom: 0px;
} */



#contact-grid i:nth-child(1) i{
    margin-left: -50px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media(max-width:48em){
	.flex-center{
		display: none;
	}
}
@media (min-width: 48em) {

    /* We increase the body font size */
    
}
body {
        font-size: 16px;
    }
    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }




/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}
a:visited { 
    outline: 0;
    color: initial;

}



#continue-button{
    width: 50%;
    align-self: center;
}
.popUpMenu {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
    flex-direction: column;
    justify-content: top;  /* Vertically center the content */
    align-items: center;      /* Horizontally center the content */
    animation: slideIn 0.5s ease-in-out;
    z-index: 10;
    overflow: none;
  }

  .popUpMenu_inner {
    pointer-events: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4ce;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    
  }
  
  .close-button,
  .continue-button {
    cursor: pointer;
  }
  
  .close-button {
    position: absolute;

    align-self: flex-end;
    border: none;
    background: none;
    font-size: xx-large;
    font-weight: 300;
    color: #555;
    animation: all .5s ease-in-out;
  }
  .close-button:hover {
   color: #000;
  }
  
  @media (min-width: 768px) {
    .popUpMenu_inner {
        width: 50%;
    }
    .popUpMenu {
        justify-content: center;
    }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.popUpMenu_content{
    padding-bottom: 1em;
    padding-top: .5em;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
}
  .popUpMenu_heading{
    text-align: center;
    border-bottom-style: solid;
	border-bottom-color: #848484 !important;
	border-bottom-width: 1px;
	padding-bottom: .05em;
    font-weight: 600;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    letter-spacing: 120%;
    font-size: large;
    
  }

  .bell-icon {
    position: fixed;
    top: 13px;
    right: 100px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    animation: color 1s ease-in-out;

  }

  .bell-icon:hover {
    color: #000;
  }
  
  .notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }